{% extends "header.html" %}

{% block title %}
MONOALPHABETIC CIPHER | ENCR/DECR
{% endblock title %}

{% block content %}
{% include "navbar.html" %}
<body class="bg-dark">
    

    <div class="container-fluid text-white" style="margin-top: 100px;" >
    
        <h1 class="display-4 text-center fw-bold">MONOALPHABETIC CIPHER</h1><br>
    
        <div class="container col-offset-5 col-md-5 col-xs 5 border border-white rounded" ><br>
            <h1 class="fw-bold text-center">SELECT THE TYPE</h1><br>
    
            <a href="{% url 'monoalphabeticCipherEncryption' %}"  class="btn btn-primary w-100 " >ENCRYPTION</a><br><br>
            <a href="{% url 'monoalphabeticCipherDecryption' %}"  class="btn btn-primary w-100 " >DECRYPTION</a><br><br>
        </div>
    </div></body>

{% endblock %}